.App {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-div{
  width: 400px;
  margin-top: 30px;
}

.text{
  font-weight: 400;
text-align: center;
margin-inline: 50px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  margin-inline: 100px;
  text-align: center;
  align-items: center;
  background-color: #000;
}

a:link,a:visited, a:hover, a:active  {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
